h1{
    text-align: center;
    font-family: monospace;
    font-style: oblique;
    color: transparent;
    -webkit-text-stroke: 1px #e26f6f ;
}
.logo-container {
   display: flex;
   justify-content: center; 
   align-items: center; 
   line-height: 50vh;
}
.logo-container img{
    max-width: 15%;
    height: auto;
    border-style:double;
    border-color: grey;
    border-radius: 100%;
}

body{
    background-image: url(34.jpg);
    background-size:contain;
}

#navegador ul{
    list-style-type: none;
    text-align: center;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }
 #navegador li a {
    padding: 2px 7px 2px 7px;
    color: #ce5353;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }
 #navegador li a:hover{
    background-color: #e26f6f;
    color: #ffffff;
 }
 h2{
    text-align:center;
    color: transparent;
    -webkit-text-stroke: 1px #e26f6f ;
    background: linear-gradient( rgb(80, 5, 5),rgb(80, 27, 80));
    color:rgb(207, 71, 71);
    background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}
@keyframes text{
    0% {
    filter:hue-rotate(0deg);
 }
 100%{
    filter:hue-rotate(360deg);
 }

 }
 h3{
    text-align:center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(201, 133, 133);
    border-style:groove;
    color:#5f5858;
    font-family: fantasy;

 }
 h4{
    margin-left: 35%;
    font-family:sans-serif;
    color: #5f5858;
 }
 #contacto {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
}
 #contacto img{
    float:inline-start;
    width: 45px;
    height: 40px;
    border-style:outset;
    border-color: rgb(207, 71, 71);
    border-radius: 100%;
    margin-left: 25%;
    margin-right: 1%;
 }
 #contacto p {
    text-align: justify;
    color:#cf1212;
    margin-left: 25%;
 }
 
 #cv li {
    color: rgba(10, 9, 9, 0.897);
    margin-left: 35%;
    list-style-type:circle;
  }
  #sobremi p{
    text-align: center;
  }
 #cv p{
    margin-left: 35%;
 }
 .saludo {
   color:#cf1212;
 }
 .texto {
   text-align: justify;
   color: #5f5858;
 }


@media (min-width: 768px) and (max-width: 1199px) {
   .logo-container img {
       max-width: 20%;
   }
   h3 {
       margin-left: 10%;
       margin-right: 10%;
   }
   #cv p, #cv li {
       margin-left: 20%;
   }
}


@media (max-width: 767px) {
   body {
       background-size: cover; 
   }

   .logo-container img {
       max-width: 40%;
   }

   h1, h2, h3 {
       font-size: 1.2rem; /
   }

   #contacto img {
       margin-left: 0;
       margin-right: 0;
       margin-bottom: 10px;
       width: 30px;
       height: 30px;
   }

   #contacto p {
       margin-left: 0;
       text-align: center; 
   }

   #cv p, #cv li {
       margin-left: 10%;
   }
}
